

<div class="page-header">
    <h3 class="page-title"> Danh sách căn hộ </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tables</a></li>
            <li class="breadcrumb-item active" aria-current="page">Basic tables</li>
        </ol>
    </nav>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Danh sách căn hộ </h4>

            </p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th> MÃ CĂN HỘ </th>
                        <th> TÊN CĂN HỘ  </th>
                        <th> Họ Tên & Ngày sinh  </th>
                        <th> SỐ NHÂN KHẨU </th>
                        <th> QUAN HỆ   </th>
                        <th> QUỐC TỊCH  </th>
                        <th> TÌNH TRẠNG  </th>
                        <th> THAO TÁC  </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-1.png" alt="image" />
                        </td>
                        <td> Herman Beck </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td> $ 77.99 </td>
                        <td> May 15, 2015 </td>
                        <td> May 15, 2015 </td>
                        <td> May 15, 2015 </td>
                    </tr>

                    <tr>
                        <td class="py-1">
                            <img src="../../assets/images/faces-clipart/pic-2.png" alt="image" />
                        </td>
                        <td> Messsy Adam </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </td>
                        <td> $245.30 </td>
                        <td> July 1, 2015 </td>
                        <td> July 1, 2015 </td>
                        <td> July 1, 2015 </td>
                    </tr>




                </tbody>
            </table>
        </div>
    </div>
</div>