<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebQuanLyChungCu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/user/assets/css/animate.css" rel="stylesheet" />
    <link href="~/user/assets/css/flex-slider.css" rel="stylesheet" />
    <link href="~/user/assets/css/fontawesome.css" rel="stylesheet" />
    <link href="~/user/assets/css/owl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="~/user/assets/css/templatemo-villa-agency.css" rel="stylesheet" />
    <link href="~/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a asp-action="Index" asp-controller="Home" class="logo">
                            <h1>Villa</h1>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="" class="active">Home</a></li>
                            <li><a href="">Tòa nhà </a></li>
                            <li><a href=""> Căn hộ</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

            @RenderBody()


    <footer>
        <div class="container">
            <div class="col-lg-8">
                <p>
                    Copyright © 2048 Villa Agency Co., Ltd. All rights reserved.

                    Design: <a rel="nofollow" href="https://templatemo.com" target="_blank">TemplateMo</a>
                </p>
            </div>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/user/assets/js/counter.js"></script>

    <script src="~/user/assets/js/custom.js"></script>
    <script src="~/user/assets/js/isotope.min.js"></script>

    <script src="~/user/assets/js/owl-carousel.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
